@import url('https://fonts.googleapis.com/css2?family=Kanit:ital@0;1&family=Roboto+Slab:wght@400;500&display=swap');
*{
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

html{
	font-size: 62.5%;
}

#wrapper{
	/*height:500px;*/
	width: /*1263px*/100%;
	/*border: 1px solid blue;*/
	/*margin-top: -10px;*/
	z-index: 1;

}

#container{
	height: 1800px;
	width: 100%;
	/*border: 1px solid green;*/
	/*background-color: red;*/
	
}


header{
	height: 50px;
	width: 100%;
	/*margin: -10;*/
	/*border: 1px solid grey;*/
 background:  #FFFFFF ;

	position: relative;

}

#logo-img{
	position: absolute;
width: 41.96px;
height: 37.79px;
left: 6.5%;
top: 5px;
    border: 1px solid black;
    border-radius: 30%;
    /*background-color: ;*/
}

#logo-img img{
	height: 100%;
	width: 100%;
}


.main-nav{
	/*height: 70px;*/
	width: 50%;
	/*border: 1px solid blue;*/
	position: absolute;
	left: 45%/*578px*/;
	top: 15px;


}

#nav{
 	width: 105%;
 	/*border: 1px solid green;*/
 }
 #nav li{
 	display: inline-block;

 }

#nav li a{
	text-decoration: none;
	width: 100%;
	font-family: 'Kanit', sans-serif;
    font-family: 'Roboto Slab', serif;
	font-size: 1.3rem;
	padding:5px 12px;
	
	color:/* #1D1D1D*//*#FB8500*/#00C896;
	letter-spacing: 1px;
	/*line-height: 2px;*/
	

	transition:font-size underline 2s ;
}

  #nav  li a:hover{
	/*font-size: 15.8px;*/
	color: #311743;
	border-bottom: 1px solid grey;
	/*text-decoration: underline;*/

	
}

.mobile-icon{
	display: none;
}

/*CSS for Preaching starts from here*/

/*After header tag in container it contain the info about Preaching */

.pre1{

	width: 100%;
	height: 200px;
	background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(images/abimg4.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: scroll;
	/*border: 1px solid green;*/
	position: relative;
}







.pret1{
	height:100x;
	width: 25%;
	border: 1px solid #00C896;
	/*margin-top: 20px;*/
	/*background-color: rgb(0,0,0,0.6);	*/
	position: absolute;
	top: 50px;
	left: 80px;
	justify-content: center;
	align-items: center;
	align-content: center;
}
 
.pret1 p{
	font-family: 'Viaoda Libre', cursive;
	font-size: 7.0rem;
	text-align: center;
	/*justify-items: center;*/
	/*font-weight: 700;*/
	color: #00C896;
	/*background-color:white ;*/
	/*display: inline-block;*/
	/*padding: 4px 0px;*/

}


.pre2v,.pre3v,.pre4v{
	height: 520px ;
	width: 100%;
	/*border: 1px solid green;*/
	position: relative;
}

.pre2v{

	background-color: rgba(0, 200, 150, 0.11);

}

.md0{
	height: 300px;
	width: 45%;
	/*border: 1px solid grey;*/
	position: absolute;
	top: 125px;
	left:50%;
	

}

.md01{
	height: 20%;
	width: 100%;
	/*border: 1px solid black;*/
}

.md01 p{
	font-size: 4.05rem;
	font-family: 'Oswald', sans-serif;
	font-weight: 900;
	color: #311743/*#008B69*/ ;
	line-height: 40px;
	text-transform: capitalize;
	/*letter-spacing: 1px;*/

}

.md01 p:nth-child(2){
	font-size: 2.5rem;
	font-weight: 100;
font-family: 'Kanit', sans-serif;
}
.md02{
	/*height: 30%;*/
	width: 73%;
	margin-top: 40px;
	/*border: 1px solid greenyellow;*/
}

.md02 p{
	font-size: 1.5rem;
	font-family: 'Lora', serif;
	/*font-weight: bold;*/
	line-height: 17px;
	color: darkblack ;
	letter-spacing: 1px;
	/*padding-top: 40px;*/
	/*paddingpx;*/

}
.md02 p:first-child{
	/*padding-top: 40px;*/
}

.btnmd{
	height: 40px;
	width: 100px;
	border: 2px solid #311743/*#008B69*/;
	background-color: #311743 ;
	border-radius: 10px;
	/*margin-left: 10px;*/
	margin-top: 20px;

}

.btnmd p{
	font-size: 2.0rem;
	text-decoration: none;
	padding-top: 5px;
	text-align: center;
	/*color:#00C896 ;*/

}

.btnmd p:hover{
	color:#00C896 ;
}
.md1{
	height:300px;
	width: 40%;
	/*border: 1px solid #A8A9AD;*/
	top: 125px;
	left: 6%;
	border-radius: 10px;
	overflow: hidden;
	position: absolute;
	/*display: flex;*/
	box-shadow: 15px 10px 15px rgba(15, 19, 20,0.5);
 	
 }
  
  


.md1 iframe{
	height: 100%;
	width: 100%;
	/*box-shadow: 15px 10px 15px rgba(15, 19, 20,0.5);*/
}

.md2{
	height: 100px;
	width: 40%;
	/*border: 1px solid green;*/
	position: absolute;
	top: 420px;
	left: 30%;


}

.linkmd{
	/*height: 10px;*/
	width: 75%;
	/*border: 1px solid brown;*/
	/*margin-top: 25px;*/
	line-height: 20px;
	margin-left: 20%;

}


.hvideos{
	height: 390px;
	width: 100%;
	/*border: 1px solid red;*/
	margin-top: 30px;
	background-color: rgba(0, 200, 150, 0.11);
}

.headv{
	height:50ox ;
	width: 100%;
	/*border: 1px solid blueviolet;*/
	display: flex;
	/*margin-left: 1%;*/
}


.headmiddle{
	border: 1px solid  #311743;
	border-radius: 10px;
	margin-top: 20px;
	margin-left: 40%;
}

.headmiddle p{
	font-size: 2.6rem;
	font-family: 'Kanit', sans-serif;
	text-align: center;
	padding: 5px 10px 10px 10px ;

	color:  #311743;

}




.hindip{
	width: 100%;
	height: 230px;
	/*border: 1px solid green;*/
	/*margin-left:5% ;*/
	/*float: right;*/
	display: flex;
	justify-content: center;
	align-items: center;
	/*flex-wrap: wrap;*/
	overflow: hidden;
	margin-top: 20px;

}


.hvideos1{
	height: 210px;
	width: 550px;
	/*border: 1px solid blue;*/
	margin-left: 50px;
	overflow: hidden;
	border-radius: 10px;
	/*float: right;*/
	/*box-shadow: 3px 3px 10px 5px rgba(15, 19, 20,0.5);*/
	box-shadow: 4px 4px 9px black;
}

.hvideos1:first-child{
	margin-left: 10px;

}

.hvideos1:nth-child(3){
	margin-right: 10px;

}

.hvideos1 iframe{
	height: 100%;
	width: 100%;
}

.linkyt{
	/*width: 100%;*/
	margin-top: 60px;
	/*border: 1px solid black;*/

}
.linkyt p{
	font-size: 1.9rem;
	font-family: 'Kanit', sans-serif;
	text-align: center;
	word-spacing: 2px;
	color: #311743;
	/*letter-spacing: 1px;*/


}


.linkyt p:hover{
	color:  #00C896;
}
.bottom-section{
	height: 425px;
	width: 100%;
	/*margin-top: -35px;*/
  background-color: rgb(192,192,192);
  /*border: 1px solid green;	*/
  	
}

.bottom-links{
	width: 100%;
	height: 105px;
	/*margin-top: 35px;*/
	/*background-color: orange;*/
	/*border: 1px solid red;*/

}

.cu{
	width: 100%;
	/*border: 1px solid white;*/
	/*margin-top: 7px;*/
}

.cu p{
	font-size: 2.8rem;
	font-weight: 600;
	font-family: 'Mate SC', serif;
	word-spacing: 3px;
	text-align: center;
	padding-top:10px ;
}

.cui{
	height: 65px ;
	width: 100%;
	/*border: 1px solid green;*/
	display: flex;
	align-content: center;
	justify-content: center;
	flex-wrap: wrap;
}

.cui section{
	height: 40px;
	width: 40px;
	border: 1px solid black;
	border-radius: 10%;
	overflow: hidden;

}

.cui section:not(:first-child){
	margin-left: 20px;
}

.cui section img{
 	height: 100%;
 	width: 100%;
 } 

 .cui section:hover{
 	background-color: #00C896;																																
 }


.bottom-info{
	height: 290px;
	width: 100%;
	/*background-color: black;*/
	/*border: 1px solid black;*/
	overflow: hidden;

}

.bottom-info p{
	text-align: center;
	line-height: 25px;
	font-size: 1.5rem;
	font-weight: 400;
	font-family: sans-serif;
	
}

.bottom-info p:first-child{
	padding-top: 20px;
}

.bottom-info p:nth-child(2){
	color:#00C896 ;
	
}

.bottom-info p:nth-child(6){
	/*padding-right: 40px;*/
	color:#00C896 ;
	
}

.bottom-info p:nth-child(7){
	/*padding-left: 25px;*/
	color:#00C896  ;
	
}

.bottom-info p:nth-child(8){
	/*padding-right: 10px;*/
	color: #00C896 ;
}

.bottom-info p:nth-child(10){
	color: #00C896  ;
	
}

.bottom-info p:hover:nth-child(4){
	color: red;
	text-decoration: underline;
}


.bottom-footer{
	height:30px ;
	width: 100%;
	background-color: rgb(169,169,169);
	/*border: 1px solid blue;*/
	display: flex;
}

.first-para{
	height: 23px;
	/*border: 1px solid green;*/
	margin-left: 50px;
	margin-top: 5px;

	
}

.first-para p{
	font-size: 1.6rem;
	font-family: sans-serif;
}



.last-para{
	height: 23px;
	/*border: 1px solid green;*/
	margin-left: 20% /*260px*/;
	margin-top: 5px;
	
}

.last-para p{
	font-size: 1.6rem;
	font-family: sans-serif;
}





































/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/




@media only screen and (min-width: 1289px) and (max-width: 1441px){





.md1 {
    height: 300px;
    width: 36%;
    /* border: 1px solid #A8A9AD; */
    top: 125px;
    left: 6%;
    border-radius: 10px;
    overflow: hidden;
    position: absolute;
    /* display: flex; */
    box-shadow: 15px 10px 15px rgb(15 19 20 / 50%);
}
.hvideos1 {
    height: 210px;
    width: 380px;
    /* border: 1px solid blue; */
    margin-left: 50px;
    overflow: hidden;
    border-radius: 10px;
    /* float: right; */
    /* box-shadow: 3px 3px 10px 5px rgb(15 19 20 / 50%); */
    box-shadow: 4px 4px 9px black;
}
}









/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/




@media  only screen and (max-width: 1210px){
	html{
		/*font-size: 55% ;*/

	}
	


   
   /*header section*/
   header{
   	height: 60px;
   }
   #logo-img{
    top: 10px;
   }
	.main-nav{
		display: block
		margin-top: 45px;
		left: 33%;
    width: 63%;
    top: 41%;;
		

		
		/*border: 1px solid green;*/
		z-index: 4;
	

	}
	#nav li a{
		font-size: 1.6rem;
		padding: 5px 7px;
	}

	.pret1 {
    height: 100x;
    width:36%;
    border: 1px solid #00C896;
    /* margin-top: 20px; */
    /* background-color: rgb(0,0,0,0.6); */
    position: absolute;
    top: 50px;
    left: 80px;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.md02 {
    /* height: 30%; */
    width: 73%;
    margin-top: 58px;
    /* border: 1px solid greenyellow; */
}
.md01 p {
    font-size: 4.5rem;
    font-family: 'Oswald', sans-serif;
    font-weight: 900;
    color: #311743/*#008B69*/;
    line-height: 40px;
    text-transform: capitalize;
    /* letter-spacing: 1px; */
}
.btnmd {
    height: 40px;
    width: 100px;
    border: 2px solid #311743/*#008B69*/;
    background-color: #311743;
    border-radius: 10px;
    /* margin-left: 10px; */
    margin-top: 24px;
}

}





















@media only screen and (max-width: 1050px){
	.main-nav {
    display: block margin-top: 45px;
    left: 32%;
    width: 63%;
    top: 41%;
}

}























/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/


@media only screen and (max-width: 1026px){
	html{
		/*font-size: 55% ;*/

	}
	


   
   /*header section*/
   header{
   	height: 60px;
   }
   #logo-img{
    top: 10px;
   }
	.main-nav{
		display: block
		margin-top: 45px;
		left: 30%;
    width: 66%;
    top: 41%;;
		

		
		/*border: 1px solid green;*/
		z-index: 4;
	

	}
	#nav li a{
		font-size: 1.6rem;
		padding: 5px 7px;
	}
	
 .mobile-icon{
		/*display: inline-block;*/
		margin-left: 85%;
		margin-top: 1.5%;
		z-index: 4;

	}
	
.pret1 {
    height: 100x;
    width: 36%;
    border: 1px solid #00C896;
    /* margin-top: 20px; */
    /* background-color: rgb(0,0,0,0.6); */
    position: absolute;
    top: 50px;
    left: 80px;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.md0 {
    height: 300px;
    width: 45%;
    /* border: 1px solid grey; */
    position: absolute;
    top: 125px;
    left: 55%;
	}

	.md02 {
    /* height: 30%; */
    width: 73%;
    margin-top: 54px;
    /* border: 1px solid greenyellow; */
	}

	.md01 p {
    font-size: 4.05rem;
    font-family: 'Oswald', sans-serif;
    font-weight: 900;
    color: #311743/*#008B69*/;
    line-height: 38px;
    text-transform: capitalize;
    /* letter-spacing: 1px; */
	}


	.md1 {
    height: 264px;
    width: 45%;
    /* border: 1px solid #A8A9AD; */
    top: 125px;
    left: 6%;
    border-radius: 10px;
    overflow: hidden;
    position: absolute;
    /* display: flex; */
    box-shadow: 15px 10px 15px rgb(15 19 20 / 50%);
	}

	.btnmd {
    height: 40px;
    width: 100px;
    border: 2px solid #311743/*#008B69*/;
    background-color: #311743;
    border-radius: 10px;
    /* margin-left: 10px; */
    margin-top: 20px;
	}

.headmiddle {
    border: 1px solid #311743;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 39%;
}
		
.hvideos1 {
    height: 162px;
    width: 250px;
    /* border: 1px solid blue; */
    margin-left: 50px;
    overflow: hidden;
    border-radius: 10px;
    /* float: right; */
    /* box-shadow: 3px 3px 10px 5px rgb(15 19 20 / 50%); */
    box-shadow: 4px 4px 9px black;
}

.hvideos1:nth-child(3) {
    margin-right: 0px;
    
		}

.hvideos1:nth-child(2){
	margin-right: 10px;
}

.linkyt {
    /* width: 100%; */
    margin-top: 30px;
    /* border: 1px solid black; */
}




	/*bottom section media query*/


	.cu p{
		font-size: 4.8rem;
	}


	.bottom-info p {
    text-align: center;
    line-height: 26px;
    font-size: 1.9rem;
    font-weight: 400;
    font-family: sans-serif;
	}

	.bottom-info p:nth-child(10) {
    padding-right: 30px;
    padding-left: 30px;
	}
	.bottom-footer {
     height: auto; 
    width: 100%;
    background-color: rgb(169,169,169);
    /* border: 1px solid blue; */
     display: flex; 
		}	
	.first-para {
    height: 23px;
    /* border: 1px solid green; */
    margin-left: 19px;
    margin-top: 8px;
    /* margin: auto 0; */
	}	

	.last-para {
    height: 23px;
    /* border: 1px solid green; */
    margin-left: 15% /*260px*/;
    margin-top: 8px;
	}
}
























/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/



@media only screen and (max-width: 998px){
	html{
		font-size: 47% ;

	}
	


   
   /*header section*/
   header{
   	height: 60px;
   }
   #logo-img{
    top: 10px;
   }
	.main-nav{
		display: block
		margin-top: 45px;
		left: 30%;
    width: 66%;
    top: 41%;;
		

		
		/*border: 1px solid green;*/
		z-index: 4;
	

	}
	#nav li a{
		font-size: 1.6rem;
		padding: 5px 7px;
	}
	
 .mobile-icon{
		/*display: inline-block;*/
		margin-left: 85%;
		margin-top: 1.5%;
		z-index: 4;

	}
	
.pret1 {
    height: 100x;
    width: 41%;
    border: 1px solid #00C896;
    /* margin-top: 20px; */
    /* background-color: rgb(0,0,0,0.6); */
    position: absolute;
    top: 50px;
    left: 80px;
    justify-content: center;
    align-items: center;
    align-content: center;
}


.md0 {
    height: 300px;
    width: 45%;
    /* border: 1px solid grey; */
    position: absolute;
    top: 125px;
    left: 55%;
	}

	.md02 {
    /* height: 30%; */
    width: 73%;
    margin-top: 54px;
    /* border: 1px solid greenyellow; */
	}

	.md01 p {
    font-size: 5.05rem;
    font-family: 'Oswald', sans-serif;
    font-weight: 900;
    color: #311743/*#008B69*/;
    line-height: 38px;
    text-transform: capitalize;
    /* letter-spacing: 1px; */
	}


	.md1 {
    height: 264px;
    width: 45%;
    /* border: 1px solid #A8A9AD; */
    top: 125px;
    left: 6%;
    border-radius: 10px;
    overflow: hidden;
    position: absolute;
    /* display: flex; */
    box-shadow: 15px 10px 15px rgb(15 19 20 / 50%);
	}

	.btnmd {
    height: 40px;
    width: 100px;
    border: 2px solid #311743/*#008B69*/;
    background-color: #311743;
    border-radius: 10px;
    /* margin-left: 10px; */
    margin-top: 20px;
	}

.headmiddle {
    border: 1px solid #311743;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 39%;
}
		
.hvideos1 {
    height: 162px;
    width: 250px;
    /* border: 1px solid blue; */
    margin-left: 50px;
    overflow: hidden;
    border-radius: 10px;
    /* float: right; */
    /* box-shadow: 3px 3px 10px 5px rgb(15 19 20 / 50%); */
    box-shadow: 4px 4px 9px black;
}

.hvideos1:nth-child(3) {
    margin-right: 0px;
    
		}

.hvideos1:nth-child(2){
	margin-right: 10px;
}

.linkyt {
    /* width: 100%; */
    margin-top: 30px;
    /* border: 1px solid black; */
}



	/*bottom section media query*/


	.cu p{
		font-size: 4.8rem;
	}


	.bottom-info p {
    text-align: center;
    line-height: 26px;
    font-size: 1.9rem;
    font-weight: 400;
    font-family: sans-serif;
	}

	.bottom-info p:nth-child(10) {
    padding-right: 30px;
    padding-left: 30px;
	}
	.bottom-footer {
     height: auto; 
    width: 100%;
    background-color: rgb(169,169,169);
    /* border: 1px solid blue; */
     display: flex; 
		}	
	.first-para {
    height: 23px;
    /* border: 1px solid green; */
    margin-left: 19px;
    margin-top: 8px;
    /* margin: auto 0; */
	}	

	.last-para {
    height: 23px;
    /* border: 1px solid green; */
    margin-left: 15% /*260px*/;
    margin-top: 8px;
	}
}









/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/



@media only screen and (max-width: 778px){
	.main-nav {
    display: block margin-top: 45px;
    left: 27%;
    width: 69%;
    top: 41%;
    /* border: 1px solid green; */
    z-index: 4;
}
.pret1 {
    height: 100x;
    width: 41%;
    border: 1px solid #00C896;
    /* margin-top: 20px; */
    /* background-color: rgb(0,0,0,0.6); */
    position: absolute;
    top: 50px;
    left: 80px;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.md0 {
    height: 300px;
    width: 41%;
    /* border: 1px solid grey; */
    position: absolute;
    top: 125px;
    left: 59%;
	}

	.md02 {
    /* height: 30%; */
    width: 73%;
    margin-top: 48px;
    /* border: 1px solid greenyellow; */
	}

	.md01 p {
    font-size: 4.05rem;
    font-family: 'Oswald', sans-serif;
    font-weight: 900;
    color: #311743/*#008B69*/;
    line-height: 33px;
    text-transform: capitalize;
    /* letter-spacing: 1px; */
	}


	.md1 {
    height: 242px;
    width: 48%;
    /* border: 1px solid #A8A9AD; */
    top: 125px;
    left: 6%;
    border-radius: 10px;
    overflow: hidden;
    position: absolute;
    /* display: flex; */
    box-shadow: 15px 10px 15px rgb(15 19 20 / 50%);
	}

	.btnmd {
    height: 40px;
    width: 100px;
    border: 2px solid #311743/*#008B69*/;
    background-color: #311743;
    border-radius: 10px;
    /* margin-left: 10px; */
    margin-top: 11px;
	}

.headmiddle {
    border: 1px solid #311743;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 39%;
}
		
.hvideos1 {
    height: 162px;
    width: 250px;
    /* border: 1px solid blue; */
    margin-left: 50px;
    overflow: hidden;
    border-radius: 10px;
    /* float: right; */
    /* box-shadow: 3px 3px 10px 5px rgb(15 19 20 / 50%); */
    box-shadow: 4px 4px 9px black;
}

.hvideos1:nth-child(3) {
    margin-right: 0px;
    display: none;
		}

.hvideos1:nth-child(2){
	margin-right: 10px;
}

.linkyt {
    /* width: 100%; */
    margin-top: 30px;
    /* border: 1px solid black; */
}



}











/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/

@media only screen and (max-width: 768px){
	
	html{
		font-size: 44% ;

	}
	


   
   /*header section*/
   header{
   	height: 60px;
   }
   #logo-img{
    top: 10px;
   }
	.main-nav{
		display: block
		margin-top: 45px;
		left: 30%;
    width: 66%;
    top: 41%;;
		

		
		/*border: 1px solid green;*/
		z-index: 4;
	

	}
	#nav li a{
		font-size: 1.6rem;
		padding: 5px 7px;
	}
	
 .mobile-icon{
		/*display: inline-block;*/
		margin-left: 85%;
		margin-top: 1.5%;
		z-index: 4;

	}
	



	.md0 {
    height: 300px;
    width: 41%;
    /* border: 1px solid grey; */
    position: absolute;
    top: 125px;
    left: 59%;
	}

	.md02 {
    /* height: 30%; */
    width: 73%;
    margin-top: 48px;
    /* border: 1px solid greenyellow; */
	}

	.md01 p {
    font-size: 4.05rem;
    font-family: 'Oswald', sans-serif;
    font-weight: 900;
    color: #311743/*#008B69*/;
    line-height: 33px;
    text-transform: capitalize;
    /* letter-spacing: 1px; */
	}


	.md1 {
    height: 242px;
    width: 48%;
    /* border: 1px solid #A8A9AD; */
    top: 125px;
    left: 6%;
    border-radius: 10px;
    overflow: hidden;
    position: absolute;
    /* display: flex; */
    box-shadow: 15px 10px 15px rgb(15 19 20 / 50%);
	}

	.btnmd {
    height: 40px;
    width: 100px;
    border: 2px solid #311743/*#008B69*/;
    background-color: #311743;
    border-radius: 10px;
    /* margin-left: 10px; */
    margin-top: 11px;
	}

.headmiddle {
    border: 1px solid #311743;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 39%;
}
		
.hvideos1 {
    height: 162px;
    width: 250px;
    /* border: 1px solid blue; */
    margin-left: 50px;
    overflow: hidden;
    border-radius: 10px;
    /* float: right; */
    /* box-shadow: 3px 3px 10px 5px rgb(15 19 20 / 50%); */
    box-shadow: 4px 4px 9px black;
}

.hvideos1:nth-child(3) {
    margin-right: 0px;
    display: none;
		}

.hvideos1:nth-child(2){
	margin-right: 10px;
}

.linkyt {
    /* width: 100%; */
    margin-top: 30px;
    /* border: 1px solid black; */
}

	/*bottom section media query*/


	.cu p{
		font-size: 4.8rem;
	}


	.bottom-info p {
    text-align: center;
    line-height: 26px;
    font-size: 1.9rem;
    font-weight: 400;
    font-family: sans-serif;
	}

	.bottom-info p:nth-child(10) {
    padding-right: 30px;
    padding-left: 30px;
	}
	.bottom-footer {
     height: auto; 
    width: 100%;
    background-color: rgb(169,169,169);
    /* border: 1px solid blue; */
     display: flex; 
		}	
	.first-para {
    height: 23px;
    /* border: 1px solid green; */
    margin-left: 19px;
    margin-top: 8px;
    /* margin: auto 0; */
	}	

	.last-para {
    height: 23px;
    /* border: 1px solid green; */
    margin-left: 15% /*260px*/;
    margin-top: 8px;
	}
}





/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/




@media only screen and (max-width: 749px){

	/*header section*/
   header{
   	height: 60px;
   }
   #logo-img{
    top: 10px;
   }
	.main-nav {
    display: none;
    margin-top: 45px;
    margin-left: 120px;
    background-color: rgba(0, 0, 0, 0.7);
    width: 254px;
    /* border: 1px solid green; */
    z-index: 4;
}
	
 .mobile-icon{
		display: inline-block;
		margin-left: 85%;
		margin-top: 2%;
		z-index: 4;

	}
	#nav li{
		display: block;
		margin-top: 15px;
		font-size: 3.3rem;
		color: red;
		
		
	} 
#nav li a{
	/*color: red;*/
	font-size: 2.2rem;
	/*font-weight: bold;*/
}
.pret1 {
    height: 100x;
    width: 52%;
    border: 1px solid #00C896;
    /* margin-top: 20px; */
    /* background-color: rgb(0,0,0,0.6); */
    position: absolute;
    top: 50px;
    left: 80px;
    justify-content: center;
    align-items: center;
    align-content: center;
	}

	 .pre2v, .pre3v, .pre4v {
    height: 626px;
    width: 100%;
    /* border: 1px solid green; */
    position: relative;
		}

		.md1 {
    height: 211px;
    width: 50%;
    /* border: 1px solid #A8A9AD; */
    top: 90px;
    left: 25%;
    border-radius: 10px;
    overflow: hidden;
    position: absolute;
    /* display: flex; */
    box-shadow: 15px 10px 15px rgb(15 19 20 / 50%);

		}


	.md0 {
    height: 300px;
    width: 100%;
    /* border: 1px solid grey; */
    position: absolute;
    top: 340px;
    left: 0%;
		}

		.md01 p {
    font-size: 3.6rem;
    font-family: 'Oswald', sans-serif;
    font-weight: 900;
    color: #311743/*#008B69*/;
    line-height: 40px;
    text-align: center;
    text-transform: capitalize;
    /* letter-spacing: 1px; */
		}



		.md02 {
    /* height: 30%; */
    width: 100%;
    margin-top: 40px;
    /* border: 1px solid greenyellow; */
		}

		.md02 p {
    font-size: 1.5rem;
    font-family: 'Lora', serif;
    /* font-weight: bold; */
    text-align: center;
    line-height: 17px;
    color: darkblack;
    letter-spacing: 1px;
    /* padding-top: 40px; */
		}


		.btnmd {
    height: 32px;
    width: 100px;
    border: 2px solid #311743/*#008B69*/;
    background-color: #311743;
    border-radius: 10px;
    margin-left: 318px;
    margin-top: 20px;
		}



.headmiddle {
    border: 1px solid #311743;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 39%;
}
		
.hvideos1 {
    height: 162px;
    width: 250px;
    /* border: 1px solid blue; */
    margin-left: 50px;
    overflow: hidden;
    border-radius: 10px;
    /* float: right; */
    /* box-shadow: 3px 3px 10px 5px rgb(15 19 20 / 50%); */
    box-shadow: 4px 4px 9px black;
}

.hvideos1:nth-child(3) {
    margin-right: 0px;
    display: none;
		}

.hvideos1:nth-child(2){
	margin-right: 10px;
}

.linkyt {
    /* width: 100%; */
    margin-top: 30px;
    /* border: 1px solid black; */
}

}





/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/

@media only screen and (min-width: 571px) and (max-width: 706px){


 /*header section*/
   header{
   	height: 60px;
   }
   #logo-img{
    top: 10px;
   }
	.main-nav {
    display: none;
    margin-top: 45px;
    margin-left: 120px;
    background-color: rgba(0, 0, 0, 0.7);
    width: 254px;
    /* border: 1px solid green; */
    z-index: 4;
}
	
 .mobile-icon{
		display: inline-block;
		margin-left: 85%;
		margin-top: 2%;
		z-index: 4;

	}
	#nav li{
		display: block;
		margin-top: 15px;
		font-size: 3.3rem;
		color: red;
		
		
	} 
#nav li a{
	/*color: red;*/
	font-size: 2.2rem;
	/*font-weight: bold;*/
}
	

	.pret1 {
    height: 100x;
    width: 52%;
    border: 1px solid #00C896;
    /* margin-top: 20px; */
    /* background-color: rgb(0,0,0,0.6); */
    position: absolute;
    top: 50px;
    left: 80px;
    justify-content: center;
    align-items: center;
    align-content: center;
	}

	 .pre2v, .pre3v, .pre4v {
    height: 626px;
    width: 100%;
    /* border: 1px solid green; */
    position: relative;
		}

		.md1 {
    height: 211px;
    width: 70%;
    /* border: 1px solid #A8A9AD; */
    top: 90px;
    left: 14%;
    border-radius: 10px;
    overflow: hidden;
    position: absolute;
    /* display: flex; */
    box-shadow: 15px 10px 15px rgb(15 19 20 / 50%);

		}


	.md0 {
    height: 300px;
    width: 100%;
    /* border: 1px solid grey; */
    position: absolute;
    top: 340px;
    left: 0%;
		}

		.md01 p {
    font-size: 3.6rem;
    font-family: 'Oswald', sans-serif;
    font-weight: 900;
    color: #311743/*#008B69*/;
    line-height: 40px;
    text-align: center;
    text-transform: capitalize;
    /* letter-spacing: 1px; */
		}



		.md02 {
    /* height: 30%; */
    width: 100%;
    margin-top: 40px;
    /* border: 1px solid greenyellow; */
		}

		.md02 p {
    font-size: 1.5rem;
    font-family: 'Lora', serif;
    /* font-weight: bold; */
    text-align: center;
    line-height: 17px;
    color: darkblack;
    letter-spacing: 1px;
    /* padding-top: 40px; */
		}


		.btnmd {
    height: 32px;
    width: 100px;
    border: 2px solid #311743/*#008B69*/;
    background-color: #311743;
    border-radius: 10px;
    margin-left: 41%;
    margin-top: 20px;
		}



.headmiddle {
    border: 1px solid #311743;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 35%;
}

.hvideos1 {
    height: 162px;
    width: 250px;
    /* border: 1px solid blue; */
    margin-left: 50px;
    overflow: hidden;
    border-radius: 10px;
    /* float: right; */
    /* box-shadow: 3px 3px 10px 5px rgb(15 19 20 / 50%); */
    box-shadow: 4px 4px 9px black;
}

.hvideos1:nth-child(3) {
    margin-right: 0px;
    display: none;
		}

.hvideos1:nth-child(2){
	margin-right: 10px;
}

.linkyt {
    /* width: 100%; */
    margin-top: 30px;
    /* border: 1px solid black; */
}

}

















/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@520@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/


@media only screen and (max-width: 570px){
	
	html{
		font-size: 46% ;

	}
	


   
   /*header section*/
   header{
   	height: 60px;
   }
   #logo-img{
    top: 10px;
   }
	.main-nav {
    display: none;
    margin-top: 45px;
    margin-left: 95px;
    background-color: rgba(0, 0, 0, 0.7);
    width: 200px;
    /* border: 1px solid green; */
    z-index: 4;
}
	
 .mobile-icon{
		display: inline-block;
		margin-left: 85%;
		margin-top: 2%;
		z-index: 4;

	}
	#nav li{
		display: block;
		margin-top: 15px;
		font-size: 3.3rem;
		color: red;
		
		
	} 
#nav li a{
	/*color: red;*/
	font-size: 2.2rem;
	/*font-weight: bold;*/
}
	


 .pre2v, .pre3v, .pre4v {
    height: 626px;
    width: 100%;
    /* border: 1px solid green; */
    position: relative;
		}

		.md1 {
    height: 211px;
    width: 80%;
    /* border: 1px solid #A8A9AD; */
    top: 90px;
    left: 10%;
    border-radius: 10px;
    overflow: hidden;
    position: absolute;
    /* display: flex; */
    box-shadow: 15px 10px 15px rgb(15 19 20 / 50%);

		}


	.md0 {
    height: 300px;
    width: 100%;
    /* border: 1px solid grey; */
    position: absolute;
    top: 340px;
    left: 0%;
		}

		.md01 p {
    font-size: 3.6rem;
    font-family: 'Oswald', sans-serif;
    font-weight: 900;
    color: #311743/*#008B69*/;
    line-height: 40px;
    text-align: center;
    text-transform: capitalize;
    /* letter-spacing: 1px; */
		}



		.md02 {
    /* height: 30%; */
    width: 100%;
    margin-top: 40px;
    /* border: 1px solid greenyellow; */
		}

		.md02 p {
    font-size: 1.5rem;
    font-family: 'Lora', serif;
    /* font-weight: bold; */
    text-align: center;
    line-height: 17px;
    color: darkblack;
    letter-spacing: 1px;
    /* padding-top: 40px; */
		}


		.btnmd {
    height: 32px;
    width: 100px;
    border: 2px solid #311743/*#008B69*/;
    background-color: #311743;
    border-radius: 10px;
    margin-left: 40%;
    margin-top: 20px;
		}
.hvideos1 {
    height: 162px;
    width: 250px;
    /* border: 1px solid blue; */
    margin-left: 50px;
    overflow: hidden;
    border-radius: 10px;
    /* float: right; */
    /* box-shadow: 3px 3px 10px 5px rgb(15 19 20 / 50%); */
    box-shadow: 4px 4px 9px black;
}

.hvideos1:nth-child(3) {
    margin-right: 0px;
    display: none;
		}

.hvideos1:nth-child(2){
	margin-right: 10px;
}

.linkyt {
    /* width: 100%; */
    margin-top: 30px;
    /* border: 1px solid black; */
}

	/*bottom section media query*/


	.cu p{
		font-size: 4.8rem;
	}


	.bottom-info p {
    text-align: center;
    line-height: 22px;
    font-size: 1.5rem;
    font-weight: 400;
    font-family: sans-serif;
	}

	.bottom-info p:nth-child(10) {
    padding-right: 30px;
    padding-left: 30px;
	}
	.bottom-footer {
     height: auto; 
    width: 100%;
    background-color: rgb(169,169,169);
    /* border: 1px solid blue; */
     display: inline-block; 
		}	
	.first-para {
    height: 23px;
    /* border: 1px solid green; */
    margin-left: 36px;
    margin-top: 8px;
    /* margin: auto 0; */
	}	

	.last-para {
    height: 23px;
    /* border: 1px solid green; */
    margin-left: 29% /*260px*/;
    margin-top: 5px;
	}
}
   




































/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@520@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/


@media only screen and (max-width: 520px){
	
	html{
		font-size: 44% ;

	}
	


   #container {
    height: 2564px;
    width: 100%;
    /*border: 3px solid green;*/
    /* background-color: red; */
		}




   
   /*header section*/
   header{
   	height: 60px;
   }
   #logo-img{
    top: 10px;
   }
	.main-nav {
    display: none;
    margin-top: 45px;
    margin-left: 95px;
    background-color: rgba(0, 0, 0, 0.7);
    width: 190px;
    /* border: 1px solid green; */
    z-index: 4;
}
	
 .mobile-icon{
		display: inline-block;
		margin-left: 85%;
		margin-top: 4%;
		z-index: 4;

	}
	#nav li{
		display: block;
		margin-top: 15px;
		font-size: 3.3rem;
		color: red;
		
		
	} 
#nav li a{
	/*color: red;*/
	font-size: 2.2rem;
	/*font-weight: bold;*/
}
	

		

    .pre2v, .pre3v, .pre4v {
    height: 626px;
    width: 100%;
    /* border: 1px solid green; */
    position: relative;
		}

		.md1 {
    height: 211px;
    width: 80%;
    /* border: 1px solid #A8A9AD; */
    top: 90px;
    left: 10%;
    border-radius: 10px;
    overflow: hidden;
    position: absolute;
    /* display: flex; */
    box-shadow: 15px 10px 15px rgb(15 19 20 / 50%);

		}


	.md0 {
    height: 300px;
    width: 100%;
    /* border: 1px solid grey; */
    position: absolute;
    top: 340px;
    left: 0%;
		}

		.md01 p {
    font-size: 3.6rem;
    font-family: 'Oswald', sans-serif;
    font-weight: 900;
    color: #311743/*#008B69*/;
    line-height: 40px;
    text-align: center;
    text-transform: capitalize;
    /* letter-spacing: 1px; */
		}



		.md02 {
    /* height: 30%; */
    width: 100%;
    margin-top: 40px;
    /* border: 1px solid greenyellow; */
		}

		.md02 p {
    font-size: 1.5rem;
    font-family: 'Lora', serif;
    /* font-weight: bold; */
    text-align: center;
    line-height: 17px;
    color: darkblack;
    letter-spacing: 1px;
    /* padding-top: 40px; */
		}


		.btnmd {
    height: 32px;
    width: 100px;
    border: 2px solid #311743/*#008B69*/;
    background-color: #311743;
    border-radius: 10px;
    margin-left: 40%;
    margin-top: 20px;
		}




		

		.hvideos {
    height: 762px;
    width: 100%;
    /* border: 1px solid red; */
    margin-top: 30px;
    background-color: rgba(0, 200, 150, 0.11);
		}

		.headv {
    height: 50ox;
    width: 100%;
    /* border: 1px solid blueviolet; */
    display: flex;
    /*margin-left: 1%;*/
		}

		.headmiddle {
    border: 1px solid #311743;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 34%;
		}

		.hindip {
    width: 100%;
    height: 651px;
    /* border: 1px solid green; */
    /* margin-left: 5%; */
    /* float: right; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* flex-wrap: wrap; */
    overflow: hidden;
    margin-top: 20px;
		}

		.hvideos1 {
    height: 193px;
    width: 329px;
    /* border: 1px solid blue; */
    margin-left: 0px;
    overflow: hidden;
    border-radius: 10px;
    /* float: right; */
    /* box-shadow: 3px 3px 10px 5px rgb(15 19 20 / 50%); */
    box-shadow: 4px 4px 9px black;
		}

		.hvideos1:first-child {
     margin-left: 0px; 
    /* margin-top: 19px; */
		}

		.hvideos1:nth-child(3) {
    margin-right: 0px;
    display: block;
		}

		.linkyt {
    /* width: 100%; */
    margin-top: 27px;
    /*border: 1px solid black;*/
		}



	/*bottom section media query*/


	.cu p{
		font-size: 4.8rem;
	}


	.bottom-info p {
    text-align: center;
    line-height: 22px;
    font-size: 1.5rem;
    font-weight: 400;
    font-family: sans-serif;
	}

	.bottom-info p:nth-child(10) {
    padding-right: 30px;
    padding-left: 30px;
	}
	.bottom-footer {
     height: auto; 
    width: 100%;
    background-color: rgb(169,169,169);
    /* border: 1px solid blue; */
     display: inline-block; 
		}	
	.first-para {
    height: 23px;
    /* border: 1px solid green; */
    margin-left: 36px;
    margin-top: 8px;
    /* margin: auto 0; */
	}	

	.last-para {
    height: 23px;
    /* border: 1px solid green; */
    margin-left: 29% /*260px*/;
    margin-top: 5px;
	}
}

































/*@@@@@@@@@@@@@@@@@@481@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/

@media only screen and (max-width: 481px){
	
	html{
		font-size: 41% ;

	}
	



   
 #container {
    height: 2564px;
    width: 100%;
    /*border: 3px solid green;*/
    /* background-color: red; */
		}




   
   /*header section*/
   header{
   	height: 60px;
   }
   #logo-img{
    top: 10px;
   }
	.main-nav {
    display: none;
    margin-top: 45px;
    margin-left: 95px;
    background-color: rgba(0, 0, 0, 0.7);
    width: 180px;
    /* border: 1px solid green; */
    z-index: 4;
}
	
 .mobile-icon{
		display: inline-block;
		margin-left: 85%;
		margin-top: 4%;
		z-index: 4;

	}
	#nav li{
		display: block;
		margin-top: 15px;
		font-size: 3.3rem;
		color: red;
		
		
	} 
#nav li a{
	/*color: red;*/
	font-size: 2.2rem;
	/*font-weight: bold;*/
}
	

		

    .pre2v, .pre3v, .pre4v {
    height: 626px;
    width: 100%;
    /* border: 1px solid green; */
    position: relative;
		}

		.md1 {
    height: 211px;
    width: 80%;
    /* border: 1px solid #A8A9AD; */
    top: 90px;
    left: 10%;
    border-radius: 10px;
    overflow: hidden;
    position: absolute;
    /* display: flex; */
    box-shadow: 15px 10px 15px rgb(15 19 20 / 50%);

		}


	.md0 {
    height: 300px;
    width: 100%;
    /* border: 1px solid grey; */
    position: absolute;
    top: 340px;
    left: 0%;
		}

		.md01 p {
    font-size: 3.6rem;
    font-family: 'Oswald', sans-serif;
    font-weight: 900;
    color: #311743/*#008B69*/;
    line-height: 40px;
    text-align: center;
    text-transform: capitalize;
    /* letter-spacing: 1px; */
		}



		.md02 {
    /* height: 30%; */
    width: 100%;
    margin-top: 40px;
    /* border: 1px solid greenyellow; */
		}

		.md02 p {
    font-size: 1.5rem;
    font-family: 'Lora', serif;
    /* font-weight: bold; */
    text-align: center;
    line-height: 17px;
    color: darkblack;
    letter-spacing: 1px;
    /* padding-top: 40px; */
		}


		.btnmd {
    height: 32px;
    width: 100px;
    border: 2px solid #311743/*#008B69*/;
    background-color: #311743;
    border-radius: 10px;
    margin-left: 39%;
    margin-top: 20px;
		}




		

		.hvideos {
    height: 762px;
    width: 100%;
    /* border: 1px solid red; */
    margin-top: 30px;
    background-color: rgba(0, 200, 150, 0.11);
		}

		.headv {
    height: 50ox;
    width: 100%;
    /* border: 1px solid blueviolet; */
    display: flex;
    /*margin-left: 1%;*/
		}

		.headmiddle {
    border: 1px solid #311743;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 34%;
		}

		.hindip {
    width: 100%;
    height: 651px;
    /* border: 1px solid green; */
    /* margin-left: 5%; */
    /* float: right; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* flex-wrap: wrap; */
    overflow: hidden;
    margin-top: 20px;
		}

		.hvideos1 {
    height: 193px;
    width: 329px;
    /* border: 1px solid blue; */
    margin-left: 0px;
    overflow: hidden;
    border-radius: 10px;
    /* float: right; */
    /* box-shadow: 3px 3px 10px 5px rgb(15 19 20 / 50%); */
    box-shadow: 4px 4px 9px black;
		}

		.hvideos1:first-child {
     margin-left: 0px; 
    /* margin-top: 19px; */
		}

		.hvideos1:nth-child(3) {
    margin-right: 0px;
		}

		.linkyt {
    /* width: 100%; */
    margin-top: 27px;
    /*border: 1px solid black;*/
		}




	/*bottom section media query*/


	.cu p{
		font-size: 4.8rem;
	}


	.bottom-info p {
    text-align: center;
    line-height: 22px;
    font-size: 1.7rem;
    font-weight: 400;
    font-family: sans-serif;
	}

	.bottom-info p:nth-child(10) {
    padding-right: 30px;
    padding-left: 30px;
	}
	.bottom-footer {
     height: auto; 
    width: 100%;
    background-color: rgb(169,169,169);
    /* border: 1px solid blue; */
     display: inline-block; 
		}	
	.first-para {
    height: 23px;
    /* border: 1px solid green; */
    margin-left: 50px;
    margin-top: 8px;
    /* margin: auto 0; */
	}	

	.last-para {
    height: 23px;
    /* border: 1px solid green; */
    margin-left: 31% /*260px*/;
    margin-top: 5px;
	}
}


































/*@@@@@@@@@@@@@@@@@@@@@@@412@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/

@media only screen and (max-width: 426px){
	
	html{
		font-size: 38% ;

	}
	



   
  #container {
    height: 2564px;
    width: 100%;
    /*border: 3px solid green;*/
    /* background-color: red; */
		}




   
   /*header section*/
   header{
   	height: 60px;
   }
   #logo-img{
    top: 10px;
   }
	.main-nav {
    display: none;
    margin-top: 45px;
    margin-left: 92px;
    background-color: rgba(0, 0, 0, 0.7);
    width: 150px;
    /* border: 1px solid green; */
    z-index: 4;
}

	
 .mobile-icon{
		display: inline-block;
		margin-left: 85%;
		margin-top: 4%;
		z-index: 4;

	}
	#nav li{
		display: block;
		margin-top: 15px;
		font-size: 3.3rem;
		color: red;
		
		
	} 
#nav li a{
	/*color: red;*/
	font-size: 2.2rem;
	/*font-weight: bold;*/
}
	

		

    .pre2v, .pre3v, .pre4v {
    height: 626px;
    width: 100%;
    /* border: 1px solid green; */
    position: relative;
		}

		.md1 {
    height: 203px;
    width: 87%;
    /* border: 1px solid #A8A9AD; */
    top: 90px;
    left: 7%;
    border-radius: 10px;
    overflow: hidden;
    position: absolute;
    /* display: flex; */
    box-shadow: 15px 10px 15px rgb(15 19 20 / 50%);

		}


	.md0 {
    height: 300px;
    width: 100%;
    /* border: 1px solid grey; */
    position: absolute;
    top: 340px;
    left: 0%;
		}

		.md01 p {
    font-size: 3.6rem;
    font-family: 'Oswald', sans-serif;
    font-weight: 900;
    color: #311743/*#008B69*/;
    line-height: 40px;
    text-align: center;
    text-transform: capitalize;
    /* letter-spacing: 1px; */
		}



		.md02 {
    /* height: 30%; */
    width: 100%;
    margin-top: 40px;
    /* border: 1px solid greenyellow; */
		}

		.md02 p {
    font-size: 1.5rem;
    font-family: 'Lora', serif;
    /* font-weight: bold; */
    text-align: center;
    line-height: 17px;
    color: darkblack;
    letter-spacing: 1px;
    /* padding-top: 40px; */
		}


		.btnmd {
    height: 32px;
    width: 100px;
    border: 2px solid #311743/*#008B69*/;
    background-color: #311743;
    border-radius: 10px;
    margin-left: 37%;
    margin-top: 20px;
		}




		

		.hvideos {
    height: 762px;
    width: 100%;
    /* border: 1px solid red; */
    margin-top: 30px;
    background-color: rgba(0, 200, 150, 0.11);
		}

		.headv {
    height: 50ox;
    width: 100%;
    /* border: 1px solid blueviolet; */
    display: flex;
    /*margin-left: 1%;*/
		}

		.headmiddle {
    border: 1px solid #311743;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 34%;
		}

		.hindip {
    width: 100%;
    height: 651px;
    /* border: 1px solid green; */
    /* margin-left: 5%; */
    /* float: right; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* flex-wrap: wrap; */
    overflow: hidden;
    margin-top: 20px;
		}

		.hvideos1 {
    height: 193px;
    width: 329px;
    /* border: 1px solid blue; */
    margin-left: 0px;
    overflow: hidden;
    border-radius: 10px;
    /* float: right; */
    /* box-shadow: 3px 3px 10px 5px rgb(15 19 20 / 50%); */
    box-shadow: 4px 4px 9px black;
		}

		.hvideos1:first-child {
     margin-left: 0px; 
    /* margin-top: 19px; */
		}

		.hvideos1:nth-child(3) {
    margin-right: 0px;
		}

		.linkyt {
    /* width: 100%; */
    margin-top: 27px;
    /*border: 1px solid black;*/
		}






	/*bottom section media query*/


	.cu p{
		font-size: 4.8rem;
	}


	.bottom-info p {
    text-align: center;
    line-height: 22px;
    font-size: 1.5rem;
    font-weight: 400;
    font-family: sans-serif;
	}

	.bottom-info p:nth-child(10) {
    padding-right: 30px;
    padding-left: 30px;
	}
	.bottom-footer {
     height: auto; 
    width: 100%;
    background-color: rgb(169,169,169);
    /* border: 1px solid blue; */
     display: inline-block; 
		}	
	.first-para {
    height: 23px;
    /* border: 1px solid green; */
    margin-left: 36px;
    margin-top: 8px;
    /* margin: auto 0; */
	}	

	.last-para {
    height: 23px;
    /* border: 1px solid green; */
    margin-left: 29% /*260px*/;
    margin-top: 5px;
	}
}





























/*@@@@@@@@@@@@@@@@@@@@@@@@360@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/

@media only screen and (max-width: 376px){
	
	html{
		font-size: 37% ;


	}

	




   
  #container {
    height: 2564px;
    width: 100%;
    /*border: 3px solid green;*/
    /* background-color: red; */
		}




   
   /*header section*/
   header{
   	height: 60px;
   }
   #logo-img{
    top: 10px;
   }
	.main-nav {
    display: none;
    margin-top: 45px;
    margin-left: 70px;
    background-color: rgba(0, 0, 0, 0.7);
    width: 150px;
    /* border: 1px solid green; */
    z-index: 4;
}

	
 .mobile-icon{
		display: inline-block;
		margin-left: 85%;
		margin-top: 4%;
		z-index: 4;

	}
	#nav li{
		display: block;
		margin-top: 15px;
		font-size: 3.3rem;
		color: red;
		
		
	} 
#nav li a{
	/*color: red;*/
	font-size: 2.2rem;
	/*font-weight: bold;*/
}
	

		

    .pre2v, .pre3v, .pre4v {
    height: 626px;
    width: 100%;
    /* border: 1px solid green; */
    position: relative;
		}

		.md1 {
    height: 203px;
    width: 93%;
    /* border: 1px solid #A8A9AD; */
    top: 90px;
    left: 3%;
    border-radius: 10px;
    overflow: hidden;
    position: absolute;
    /* display: flex; */
    box-shadow: 15px 10px 15px rgb(15 19 20 / 50%);

		}


	.md0 {
    height: 300px;
    width: 100%;
    /* border: 1px solid grey; */
    position: absolute;
    top: 340px;
    left: 0%;
		}

		.md01 p {
    font-size: 3.6rem;
    font-family: 'Oswald', sans-serif;
    font-weight: 900;
    color: #311743/*#008B69*/;
    line-height: 40px;
    text-align: center;
    text-transform: capitalize;
    /* letter-spacing: 1px; */
		}



		.md02 {
    /* height: 30%; */
    width: 100%;
    margin-top: 40px;
    /* border: 1px solid greenyellow; */
		}

		.md02 p {
    font-size: 1.5rem;
    font-family: 'Lora', serif;
    /* font-weight: bold; */
    text-align: center;
    line-height: 17px;
    color: darkblack;
    letter-spacing: 1px;
    /* padding-top: 40px; */
		}


		.btnmd {
    height: 32px;
    width: 100px;
    border: 2px solid #311743/*#008B69*/;
    background-color: #311743;
    border-radius: 10px;
    margin-left: 36%;
    margin-top: 20px;
		}




		

		.hvideos {
    height: 762px;
    width: 100%;
    /* border: 1px solid red; */
    margin-top: 30px;
    background-color: rgba(0, 200, 150, 0.11);
		}

		.headv {
    height: 50ox;
    width: 100%;
    /* border: 1px solid blueviolet; */
    display: flex;
    /*margin-left: 1%;*/
		}

		.headmiddle {
    border: 1px solid #311743;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 30%;
		}

		.hindip {
    width: 100%;
    height: 651px;
    /* border: 1px solid green; */
    /* margin-left: 5%; */
    /* float: right; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* flex-wrap: wrap; */
    overflow: hidden;
    margin-top: 20px;
		}

		.hvideos1 {
    height: 193px;
    width: 302px;
    /* border: 1px solid blue; */
    margin-left: 0px;
    overflow: hidden;
    border-radius: 10px;
    /* float: right; */
    /* box-shadow: 3px 3px 10px 5px rgb(15 19 20 / 50%); */
    box-shadow: 4px 4px 9px black;
		}

		.hvideos1:first-child {
     margin-left: 0px; 
    /* margin-top: 19px; */
		}

		.hvideos1:nth-child(3) {
    margin-right: 0px;
		}

		.linkyt {
    /* width: 100%; */
    margin-top: 27px;
    /*border: 1px solid black;*/
		}

	/*bottom section media query*/


	.cu p{
		font-size: 4.8rem;
	}


	.bottom-info p {
    text-align: center;
    line-height: 22px;
    font-size: 1.9rem;
    font-weight: 400;
    font-family: sans-serif;
	}

	.bottom-info p:nth-child(10) {
    padding-right: 30px;
    padding-left: 30px;
	}
	.bottom-footer {
     height: auto; 
    width: 100%;
    background-color: rgb(169,169,169);
    /* border: 1px solid blue; */
     display: inline-block; 
		}	
	.first-para {
    height: 23px;
    /* border: 1px solid green; */
    margin-left: 36px;
    margin-top: 8px;
    /* margin: auto 0; */
	}	

	.last-para {
    height: 23px;
    /* border: 1px solid green; */
    margin-left: 29% /*260px*/;
    margin-top: 5px;
	}

}

















/*@@@@@@@@@@@@@@@@@@@@@@@@360@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/

@media only screen and (max-width: 360px){
	
	html{
		font-size: 37% ;


	}

	#container {
    height: 2564px;
    width: 100%;
    /*border: 3px solid green;*/
    /* background-color: red; */
		}




   
   /*header section*/
   header{
   	height: 60px;
   }
   #logo-img{
    top: 10px;
   }
	.main-nav {
    display: none;
    margin-top: 45px;
    margin-left: 70px;
    background-color: rgba(0, 0, 0, 0.7);
    width: 150px;
    /* border: 1px solid green; */
    z-index: 4;
}
	
 .mobile-icon{
		display: inline-block;
		margin-left: 85%;
		margin-top: 4%;
		z-index: 4;

	}
	#nav li{
		display: block;
		margin-top: 15px;
		font-size: 3.3rem;
		color: red;
		
		
	} 
#nav li a{
	/*color: red;*/
	font-size: 2.2rem;
	/*font-weight: bold;*/
}
	

		

    .pre2v, .pre3v, .pre4v {
    height: 626px;
    width: 100%;
    /* border: 1px solid green; */
    position: relative;
		}

		.md1 {
    height: 203px;
    width: 96%;
    /* border: 1px solid #A8A9AD; */
    top: 90px;
    left: 1%;
    border-radius: 10px;
    overflow: hidden;
    position: absolute;
    /* display: flex; */
    box-shadow: 15px 10px 15px rgb(15 19 20 / 50%);

		}


	.md0 {
    height: 300px;
    width: 100%;
    /* border: 1px solid grey; */
    position: absolute;
    top: 340px;
    left: 0%;
		}

		.md01 p {
    font-size: 3.6rem;
    font-family: 'Oswald', sans-serif;
    font-weight: 900;
    color: #311743/*#008B69*/;
    line-height: 40px;
    text-align: center;
    text-transform: capitalize;
    /* letter-spacing: 1px; */
		}



		.md02 {
    /* height: 30%; */
    width: 100%;
    margin-top: 40px;
    /* border: 1px solid greenyellow; */
		}

		.md02 p {
    font-size: 1.5rem;
    font-family: 'Lora', serif;
    /* font-weight: bold; */
    text-align: center;
    line-height: 17px;
    color: darkblack;
    letter-spacing: 1px;
    /* padding-top: 40px; */
		}


		.btnmd {
    height: 32px;
    width: 100px;
    border: 2px solid #311743/*#008B69*/;
    background-color: #311743;
    border-radius: 10px;
    margin-left: 36%;
    margin-top: 20px;
		}




		

		.hvideos {
    height: 762px;
    width: 100%;
    /* border: 1px solid red; */
    margin-top: 30px;
    background-color: rgba(0, 200, 150, 0.11);
		}

		.headv {
    height: 50ox;
    width: 100%;
    /* border: 1px solid blueviolet; */
    display: flex;
    /*margin-left: 1%;*/
		}

		.headmiddle {
    border: 1px solid #311743;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 27%;
		}

		.hindip {
    width: 100%;
    height: 651px;
    /* border: 1px solid green; */
    /* margin-left: 5%; */
    /* float: right; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* flex-wrap: wrap; */
    overflow: hidden;
    margin-top: 20px;
		}

		.hvideos1 {
    height: 193px;
    width: 302px;
    /* border: 1px solid blue; */
    margin-left: 0px;
    overflow: hidden;
    border-radius: 10px;
    /* float: right; */
    /* box-shadow: 3px 3px 10px 5px rgb(15 19 20 / 50%); */
    box-shadow: 4px 4px 9px black;
		}

		.hvideos1:first-child {
    /* margin-left: 10px; */
    /* margin-top: 19px; */
		}

		.linkyt {
    /* width: 100%; */
    margin-top: 27px;
    /*border: 1px solid black;*/
		}

	/*bottom section media query*/


	.cu p{
		font-size: 4.8rem;
	}


	.bottom-info p {
    text-align: center;
    line-height: 22px;
    font-size: 1.9rem;
    font-weight: 400;
    font-family: sans-serif;
	}

	.bottom-info p:nth-child(10) {
    padding-right: 30px;
    padding-left: 30px;
	}
	.bottom-footer {
     height: auto; 
    width: 100%;
    background-color: rgb(169,169,169);
    /* border: 1px solid blue; */
     display: inline-block; 
		}	
	.first-para {
    height: 23px;
    /* border: 1px solid green; */
    margin-left: 36px;
    margin-top: 8px;
    /* margin: auto 0; */
	}	

	.last-para {
    height: 23px;
    /* border: 1px solid green; */
    margin-left: 29% /*260px*/;
    margin-top: 5px;
	}

}

















/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/




@media only screen and (max-width: 321px){

	#container {
    height: 2564px;
    width: 100%;
    /*border: 3px solid green;*/
    /* background-color: red; */
		}
		.main-nav {
    display: none;
    margin-top: 45px;
    margin-left: 46px;
    background-color: rgba(0, 0, 0, 0.7);
    width: 150px;
    /* border: 1px solid green; */
    z-index: 4;
}

    .pre2v, .pre3v, .pre4v {
    height: 626px;
    width: 100%;
    /* border: 1px solid green; */
    position: relative;
		}

		.md1 {
    height: 203px;
    width: 96%;
    /* border: 1px solid #A8A9AD; */
    top: 90px;
    left: 1%;
    border-radius: 10px;
    overflow: hidden;
    position: absolute;
    /* display: flex; */
    box-shadow: 15px 10px 15px rgb(15 19 20 / 50%);

		}


	.md0 {
    height: 300px;
    width: 100%;
    /* border: 1px solid grey; */
    position: absolute;
    top: 340px;
    left: 0%;
		}

		.md01 p {
    font-size: 3.6rem;
    font-family: 'Oswald', sans-serif;
    font-weight: 900;
    color: #311743/*#008B69*/;
    line-height: 40px;
    text-align: center;
    text-transform: capitalize;
    /* letter-spacing: 1px; */
		}



		.md02 {
    /* height: 30%; */
    width: 100%;
    margin-top: 40px;
    /* border: 1px solid greenyellow; */
		}

		.md02 p {
    font-size: 1.5rem;
    font-family: 'Lora', serif;
    /* font-weight: bold; */
    text-align: center;
    line-height: 17px;
    color: darkblack;
    letter-spacing: 1px;
    /* padding-top: 40px; */
		}


		.btnmd {
    height: 32px;
    width: 100px;
    border: 2px solid #311743/*#008B69*/;
    background-color: #311743;
    border-radius: 10px;
    margin-left: 33%;
    margin-top: 20px;
		}




		

		.hvideos {
    height: 762px;
    width: 100%;
    /* border: 1px solid red; */
    margin-top: 30px;
    background-color: rgba(0, 200, 150, 0.11);
		}

		.headv {
    height: 50ox;
    width: 100%;
    /* border: 1px solid blueviolet; */
    display: flex;
    /*margin-left: 1%;*/
		}

		.headmiddle {
    border: 1px solid #311743;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 27%;
		}

		.hindip {
    width: 100%;
    height: 651px;
    /* border: 1px solid green; */
    /* margin-left: 5%; */
    /* float: right; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* flex-wrap: wrap; */
    overflow: hidden;
    margin-top: 20px;
		}

		.hvideos1 {
    height: 193px;
    width: 302px;
    /* border: 1px solid blue; */
    margin-left: 0px;
    overflow: hidden;
    border-radius: 10px;
    /* float: right; */
    /* box-shadow: 3px 3px 10px 5px rgb(15 19 20 / 50%); */
    box-shadow: 4px 4px 9px black;
		}

		.hvideos1:first-child {
    /* margin-left: 10px; */
    /* margin-top: 19px; */
		}
		.hvideos1:nth-child(3) {
    margin-right: 0px;
    display: block;
}

		.linkyt {
    /* width: 100%; */
    margin-top: 27px;
    /*border: 1px solid black;*/
		}

.bottom-info p {
    text-align: center;
    line-height: 22px;
    font-size: 1.9rem;
    font-weight: 400;
    font-family: sans-serif;
	}

	.bottom-info p:nth-child(10) {
    padding-right: 30px;
    padding-left: 30px;
	}
	.bottom-footer {
     height: auto; 
    width: 100%;
    background-color: rgb(169,169,169);
    /* border: 1px solid blue; */
     display: inline-block; 
		}	
	.first-para {
    height: 23px;
    /* border: 1px solid green; */
    margin-left: 12px;
    margin-top: 8px;
    /* margin: auto 0; */
}
.first-para p {
    font-size: 1.5rem;
    font-family: sans-serif;
}	

	.last-para {
    height: 23px;
    /* border: 1px solid green; */
    margin-left: 26% /*260px*/;
    margin-top: -2px;
}
.last-para p {
    font-size: 1.5rem;
    font-family: sans-serif;
}

}





































